<img src="{{ section.settings.logo | img_url: '1920x1080' }}">

<div class="topnav">
{% for link in linklists[section.settings.list_menu].links %}
    <a href="{{ link.url }}">{{ link.title }}</a>
{% endfor %}
</div>

<style>

<<<<<<< HEAD
=======

>>>>>>> b96a10417b3b1e8588653dd4d8cff3a6c453e543
.topnav {
  background-color: {{ section.settings.color }};
  overflow: hidden;
}

.topnav a {
  float: left;
  color: {{ section.settings.colortext }};
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: {{ section.settings.colorhover }};
  color: black;
}
<<<<<<< HEAD
=======

>>>>>>> b96a10417b3b1e8588653dd4d8cff3a6c453e543
</style>

{% schema %}
{
  "name": "Menu",
  "settings": [
<<<<<<< HEAD
    {
=======
       {
>>>>>>> b96a10417b3b1e8588653dd4d8cff3a6c453e543
        "type": "link_list",
        "id": "list_menu",
        "label": "Menu Test",
        "default": "main-menu"
<<<<<<< HEAD
    },
    {
        "id": "color",
        "type": "color",
        "label": "Navbar",
        "default": "#333"
    },
    {
        "id": "colorhover",
        "type": "color",
        "label": "Hover",
        "default": "#ddd"
    },
    {
        "id": "colortext",
        "type": "color",
        "label": "Text",
        "default": "#f2f2f2"
    },
    {
        "type": "image_picker",
        "id": "logo",
        "label": "logo"
=======
      },
    {
      "id": "color",
      "type": "color",
      "label": "Navbar",
      "default": "#333"
    },
    {
      "id": "colorhover",
      "type": "color",
      "label": "Hover",
      "default": "#ddd"
    },
    {
      "id": "colortext",
      "type": "color",
      "label": "Text",
      "default": "#f2f2f2"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "logo"
>>>>>>> b96a10417b3b1e8588653dd4d8cff3a6c453e543
      }
  ]
,
  "presets": [
    {
      "name": "Menu",
<<<<<<< HEAD
      "category": "IIM"
=======
      "category": "Menu"
>>>>>>> b96a10417b3b1e8588653dd4d8cff3a6c453e543
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}